<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-language" content="vi" />
    <link href="~/Content/Images/images/CTA-KhongXoa/Logo.png" rel="shortcut icon" type="image/x-icon" />

    @*Bootstrap*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*font awesome*@
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    @*Site css*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/MegaMenu.css" rel="stylesheet" />
    @*Script*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="col-md-12 Header">
        @*Số ĐT ...*@
        <div class="col-md-12 Top">
            <div class="col-md-5 col-sm-12 left">
                <p class="Text">Số điện thoại: (031) 3.851.365 | Fax: (031) 3.851.365</p>
            </div>

            <div class="col-md-2 hidden-sm hidden-xs"></div>

            <div class="col-md-5 col-sm-12 right">
                <a href="@Url.Action("Index", "Home")" class="TextMenu"><span class="fa fa-home"></span>Trang chủ</a>
                <a href="0" class="TextMenu">Tin tức</a>
                <a href="0" class="TextMenu">Thời khóa biểu</a>
                <a href="0" class="TextMenu">Bản đồ</a>
            </div>
        </div>

        @*Logo, tên trường*@
        <div class="col-md-12 Mid">
            <div class="col-md-7 col-sm-12 col-xs-12 left">
                <div class="col-md-2 col-sm-4 col-xs-4 Logo">
                    <img src="~/img/Logo.jpg" class="img-responsive" width="100%" />
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 Text">
                    <p>TRƯỜNG TRUNG CẤP NGHIỆP VỤ</p>
                    <p>VÀ CÔNG NGHỆ HẢI PHÒNG</p>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-8 right visible-sm visible-xs hidden-md">
                    <input placeholder="Tìm kiếm" />
                    <button class="btn btn-default"><strong class="fa fa-2x fa-search"></strong></button>
                </div>
            </div>

            <div class="col-md-5 col-sm-8 col-xs-8 right hidden-sm hidden-xs">
                <input placeholder="Tìm kiếm" />
                <button class="btn btn-default"><strong class="fa fa-2x fa-search"></strong></button>
            </div>
        </div>

        @*Menu chính*@
        <div class="col-md-12 col-sm-12 col-xs-12 NavMenu">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-md hidden-sm visible-xs" href="#" style="color:#0006ff">Menu</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="Menu"><a href="#">GIỚI THIỆU</a></li>
                        <li class="Menu"><a href="@Url.Action("BaiViet", "Home")">ĐÀO TẠO</a></li>
                        <li class="Menu"><a href="#">TUYỂN SINH</a></li>
                        <li class="Menu"><a href="#">HỢP TÁC</a></li>
                        <li class="dropdown menu-large">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">KHOA ĐÀO TẠO</a>
                            <ul class="col-md-6 dropdown-menu megamenu">
                                <li class="col-sm-4">
                                    <ul>
                                        <li class="MenuCha">KHOA CƠ BẢN</li>
                                        <li class="Menu"><a href="#">GIỚI THIỆU KHOA</a></li>
                                        <li class="Menu"><a href="#">NHÂN SỰ</a></li>
                                        <li class="Menu"><a href="#">THÔNG BÁO</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-4">
                                    <ul>
                                        <li class="MenuCha">KHOA KINH TẾ - KỸ THUẬT</li>
                                        <li class="Menu"><a href="#">GIỚI THIỆU KHOA</a></li>
                                        <li class="Menu"><a href="#">NHÂN SỰ</a></li>
                                        <li class="Menu"><a href="#">THÔNG BÁO</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-4">
                                    <ul>
                                        <li class="MenuCha">KHOA CÔNG NGHỆ</li>
                                        <li class="Menu"><a href="#">GIỚI THIỆU KHOA</a></li>
                                        <li class="Menu"><a href="#">NHÂN SỰ</a></li>
                                        <li class="Menu"><a href="#">THÔNG BÁO</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>




                        <li class="Menu"><a href="#">PHÒNG BAN</a></li>
                        <li class="Menu"><a href="#">ĐOÀN THANH NIÊN</a></li>
                    </ul>
                </div>
        </div>
        </nav>
        </div>
    </header>

    <div class="col-md-12 col-sm-12 col-xs-12 Body">
        @RenderBody()
    </div>

    <footer class="col-md-12 col-sm-12 col-xs-12 Footer">
        <div class="col-md-5 LienHe">
            <p class="TieuDe">Liên Hệ</p>
            <p class="NoiDungLon">TRƯỜNG TRUNG CẤP NGHIỆP VỤ VÀ CÔNG NGHỆ HẢI PHÒNG</p>
            <p class="NoiDung">Địa chỉ: 15 Khúc Thừa Dụ - phường Vĩnh Niệm, Q. Lê Chân, TP. Hải Phòng</p>
            <p class="NoiDung">Số điện thoại: (031) 3.851.365</p>
            <p class="NoiDung">Fax: (031) 3.851.365</p>
            <p class="NoiDung">Email: nghiepvu-congnghe@haiphong.edu.vn</p>
            <p class="NoiDung">Website: nghiepvucongnghehaiphong.edu.vn</p>
        </div>

        <div class="col-md-3 HopTac">
            <p class="TieuDe">Hợp Tác Quốc Tế</p>
            <a href="0" class="NoiDung"><span class="fa fa-angle-right"></span> Đào tạo liên thông chuyên ngành du học sinh</a>
            <br />
            <a href="0" class="NoiDung"><span class="fa fa-angle-right"></span> Đào tạo lao động phổ thông Đài Loan</a>
            <br />
            <a href="0" class="NoiDung"><span class="fa fa-angle-right"></span> Hợp tác tuyển sinh du học Hàn Quốc</a>
        </div>

        <div class="col-md-4 MangXH">
            <p class="TieuDe">Mạng Xã Hội</p>
            <a href="0" class="NoiDung">
                <img src="~/img/fb.jpg" class="col-md-7 img-responsive" />
            </a>
            <br />
            <a href="0" class="NoiDung">
                <img src="~/img/Youtube.jpg" class="col-md-7 img-responsive" />
            </a>
        </div>
    </footer>

    <script>
        jQuery(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop().fadeIn("fast");
                },
                function () {
                    $('.dropdown-menu', this).stop().fadeOut("fast");
                });
        });
    </script>
</body>
</html>
