@{
    ViewBag.Title = "BaiViet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/TrangCon.css" rel="stylesheet" />

<div class="col-md-12 BaiViet">
    <div class="col-md-8 NoiDung">
        <p class="TieuDe">LIÊN TỤC MỞ CÁC LỚP ĐÀO TẠO, LIÊN KẾT ĐÀO TẠO NĂM 2016</p>
        <div class="TomTat">
            <p>
                Ngành đào tạo:	Dược sĩ trung cấp	Mã ngành:	42720501
            </p>
            <p>
                Thời gian đào tạo:	2 năm, 2 năm + 3 tháng	Loại hình đào tạo:	Chính Quy
            </p>
        </div>
        <div class="NoiDung">
            <p class="Thuong">
                Đối tượng tuyển sinh: Tốt nghiệp THPT hoặc tương đương, rớt tốt nghiệp.
            </p>
            <p class="Thuong">
                Khối lượng kiến thức toàn khoá ( tính bằng ĐVHT): 99
            </p>
            <br />
            <p class="Lon">
                Giới thiệu chương trình:
            </p>
            <p class="Thuong">
                Văn bằng sẽ được cấp khi tốt nghiệp: Dược sĩ  trung cấp chuyên nghiệp
            </p>
            <p class="Thuong">
                Các học phần chung: Chính trị, Pháp luật,Tin học; Tiếng Anh; Giáo dục thể
                chất, Giáo dục quốc phòng - an ninh,  Khởi tạo doanh nghiệp.
            </p>
            <p class="Thuong">
                Các học phần cơ sở: Hóa phân tích, Thực vật học, Y học cơ sở, Truyền thông
                giáo dục sức khỏe, Tổ chức và quản lý Y tế.
            </p>
            <p class="Thuong">
                Các học phần chuyên môn: Hóa dược, Dược lý, Dược lâm sàng, Bào chế, Dược
                liệu, Kiểm nghiệm thuốc, Pháp chế dược, Bảo quản thuốc, Kỹ năng bán thuốc, Marketting dược phẩm...
            </p>
            <br />
            <p class="Lon">
                Mục tiêu đào tạo:
            </p>
            <p class="Thuong">
                1. Chuẩn kiến thức:
            </p>
            <p class="Thuong">
                Sau khi học xong, người Dược sĩ Trung cấp có kiến thức, kỹ năng thực hành, có đạo đức, lương
                tâm nghề nghiệp, ý thức tổ chức kỹ luật, có tinh thần trách nhiệm trước sức khỏe và tính mạng
                người bệnh, có đủ sức khỏe, không ngừng học tập trao dồi kiến thức để nâng cao trình độ chuyên môn.
            </p>
            <br />
            <p class="Thuong">
                2. Chuẩn kỹ năng:
            </p>
            <p class="Thuong">
                Kỹ năng mềm: học sinh TCCN ngành Dược sĩ Trung Cấp phải có chứng chỉ/chứng nhận một trong các
                kỹ năng mềm của các tổ chức, trung tâm được cấp phép đào tạo kỹ năng mềm như: Kỹ năng giao tiếp,
                kỹ năng làm việc nhóm, kỹ năng giải quyết vấn đề, kỹ năng tìm việc làm, kỹ năng tư duy…
            </p>
            <p class="Thuong">
                Kỹ năng tin học: Học sinh sau khi tốt nghiệp đạt chứng chỉ Chuyên viên tin học văn phòng (Microsoft
                Office Specialist -MOS) đối với 3 phần mềm MS. Word, MS. Excel và MS. Powerpoint. Có khả năng sử dụng
                thành thạo phần mềm tin học văn phòng.
            </p>
            <p class="Thuong">
                Kỹ năng ngoại ngữ: Học sinh sau khi tốt nghiệp đạt chuẩn đầu ra về tiếng Anh tương đương TOEIC từ 300
                điểm trở lên hoặc TOEFL iBT từ 25 điểm trở lên hoặc TOEFL ITP từ 337 điểm trở lên hoặc IELTS từ 3.0
                điểm trở lên.
            </p>
            <br />
            <p class="Thuong">
                3. Chuẩn thái độ:
            </p>
            <p class="Thuong">
                Phẩm chất, đạo đức, lối sống và trách nhiệm công dân
            </p>
            <p class="Thuong">
                Có ý thức nghề nghiệp, thận trọng, đảm bảo tính khoa học, chính xác trong công việc, tuân thủ các quy
                trình, quy phạm trong khi hành nghề.
            </p>
            <p class="Thuong">
                Theo các yêu cầu và tiêu chuẩn chung quy định cho các loại cán bộ THCN, ngoài ra theo yêu cầu của
                ngành nghề, học sinh cần được rèn luyện thêm các đức tính và tác phong khác.
            </p>
            <br />
            <p class="Thuong">4. Vị trí - khả năng làm việc sau khi ra trường:</p>
            <p class="Thuong">
                Sau khi tốt nghiệp học sinh có thể làm việc được ở các cơ quan, đơn vị chuyên ngành, các cơ quan
                đơn vị hành chính sự nghiệp, các dịch vụ thuộc lĩnh vực Dược ở tphcm hoặc các tỉnh thành trong nước.
            </p>
            <br />
            <p class="Thuong">5. Cơ hội học liên thông lên Cao Đẳng - Đại Học:</p>
            <p class="Thuong">
                Sau khi tốt nghiệp TCCN Dược sĩ trung cấp, HS có thể liên thông lên bậc Cao Đẳng hoặc Đại Học
                với bất kỳ trường nào trong hệ thống giáo dục trong nước.
            </p>
        </div>
    </div>

    <div class="col-md-4 BaiMoi">
        <h3 class="col-md-12 TieuDe">TIN BÀI MỚI</h3>

        <p class="col-md-12 NoiDung">
            <span class="fa fa-graduation-cap" style="color:#ff0000"></span>
            <a href="0">Đoàn thanh niên tặng quà cho các bác Cựu chiến binh nhân ngày 27/7/2016.</a>
            <span class="Ngay">(Admin - 12/08/2016)</span>
        </p>
        <p class="col-md-12 NoiDung">
            <span class="fa fa-graduation-cap" style="color:#ff0000"></span>
            <a href="0">Trường Trung Cấp Nghiệp Vụ và Kỹ thuật nhận giấy khen từ Bộ Giáo dục và Đào tạo.</a>
            <span class="Ngay">(Admin - 12/08/2016)</span>
        </p>
        <p class="col-md-12 NoiDung">
            <span class="fa fa-graduation-cap" style="color:#ff0000"></span>
            <a href="0">Đoàn thanh niên tặng quà cho các bác Cựu chiến binh nhân ngày 27/7/2016.</a>
            <span class="Ngay">(Admin - 12/08/2016)</span>
        </p>
        <p class="col-md-12 NoiDung">
            <span class="fa fa-graduation-cap" style="color:#ff0000"></span>
            <a href="0">Đoàn thanh niên tặng quà cho các bác Cựu chiến binh nhân ngày 27/7/2016.</a>
            <span class="Ngay">(Admin - 12/08/2016)</span>
        </p>
        <p class="col-md-12 NoiDung">
            <span class="fa fa-graduation-cap" style="color:#ff0000"></span>
            <a href="0">Đoàn thanh niên tặng quà cho các bác Cựu chiến binh nhân ngày 27/7/2016.</a>
            <span class="Ngay">(Admin - 12/08/2016)</span>
        </p>
    </div>

    <div class="col-md-4 Anh">
        <p class="TieuDe">MỘT SỐ HÌNH ẢNH HOẠT ĐỘNG</p>
        <img src="~/img/HoatDong1.jpg" class="img-responsive" />
        <img src="~/img/HoatDong2.jpg" class="img-responsive" />
        <img src="~/img/HoatDong3.jpg" class="img-responsive" />
        <img src="~/img/HoatDong4.jpg" class="img-responsive" />
        <img src="~/img/HoatDong5.jpg" class="img-responsive" />
    </div>

    <div class="col-md-8 BaiLienQuan">
        <p class="TieuDe">TIN BÀI LIÊN QUAN</p>

        <div class="col-md-3 Tin">
            <a href="0">
                <img src="~/img/TinhNguyen.jpg" class="img-responsive" />
                <h4 class="TieuDe">Thanh niên với công tác tình nguyện</h4>
                <p class="NoiDung">
                    Mấy ngày vừa qua toàn thể Đoàn viên trường
                    Trung cấp và Công nghệ Hải Phòng cùng nhau chung tay...
                </p>
            </a>
        </div>

        <div class="col-md-3 Tin">
            <a href="0">
                <img src="~/img/ThanhNien.jpg" class="img-responsive" />
                <h4 class="TieuDe">Hình ảnh hoạt động ngoại khóa</h4>
                <p class="NoiDung">
                    Một số hình ảnh ngoại kháo mà trường Trung cấp nghiệp vụ và
                    Công nghệ Hải Phòng đã thực hiện nhân ngày...
                </p>
            </a>
        </div>

        <div class="col-md-3 Tin">
            <a href="0">
                <img src="~/img/Tuoi tre.jpg" class="img-responsive" />
                <h4 class="TieuDe">Tuổi trẻ hướng về biển đảo quê hương</h4>
                <p class="NoiDung">
                    Tuổi trẻ thanh niên hướng về Biển đảo quê hương. Với những
                    hoạt động đầy tính nhân văn xã hội...
                </p>
            </a>
        </div>

        <div class="col-md-3 Tin">
            <a href="0">
                <img src="~/img/TinhNguyen.jpg" class="img-responsive" />
                <h4 class="TieuDe">Thanh niên với công tác tình nguyện</h4>
                <p class="NoiDung">
                    Mấy ngày vừa qua toàn thể Đoàn viên trường
                    Trung cấp và Công nghệ Hải Phòng cùng nhau chung tay...
                </p>
            </a>
        </div>
    </div>
</div>