/* Small devices (phone, <768px) */
@media (max-width: 767px) {
    /* Mega Menu */
    .navbar-default {
        color: #fff;
        background-color: #0006ff;
        border-color: #aca1a2;
    }

        .navbar-default .navbar-nav > li > a {
            color: #fff;
        }

        .navbar-default .navbar-nav > .dropdown > a .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
        }

        .navbar-default .navbar-brand {
            color: #fff;
        }

    .menu-large {
        position: static !important;
    }

    .megamenu {
        padding-top: 20px;
        padding-left:2em;
        color: #fff;
        background-color: #fff;
    }

        .megamenu > li > ul {
            padding: 0;
            margin: 0;
        }

            .megamenu > li > ul > .MenuCha {
                color: #ff0000;
                font-weight: bold;
                font-size: 1em;
                text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            }

            .megamenu > li > ul > li {
                list-style: none;
            }

                .megamenu > li > ul > li > a {
                    display: block;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: #333333;
                    white-space: normal;
                    color: rgb(0, 6, 255);
                    background-color: transparent;
                    font-size: 15px;
                }



        .megamenu > li ul > li > a:hover,
        .megamenu > li ul > li > a:focus {
            text-decoration: dotted underline;
            color: #fff;
            background-color: transparent;
        }

        .megamenu.disabled > a,
        .megamenu.disabled > a:hover,
        .megamenu.disabled > a:focus {
            color: #999999;
        }

            .megamenu.disabled > a:hover,
            .megamenu.disabled > a:focus {
                text-decoration: none;
                background-color: transparent;
                background-image: none;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                cursor: not-allowed;
            }

        .megamenu.dropdown-header {
            color: #428bca;
            font-size: 18px;
        }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {
    /* Mega Menu */
    .navbar-default {
        color: #fff;
        background-color: #0006ff;
        border-color: #aca1a2;
    }

        .navbar-default .navbar-nav > li > a {
            color: #fff;
        }

        .navbar-default .navbar-nav > .dropdown > a .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
        }

        .navbar-default .navbar-brand {
            color: #fff;
        }

    .menu-large {
        position: static !important;
    }

    .megamenu {
        padding: 20px 0px;
        color: #fff;
        background-color: rgb(0, 6, 255);
        margin-left: 20em;
    }

        .megamenu > li > ul {
            padding: 0;
            margin: 0;
        }

            .megamenu > li > ul > .MenuCha {
                color: #ff0000;
                font-weight: bold;
                font-size: 1em;
                text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            }

            .megamenu > li > ul > li {
                list-style: none;
            }

                .megamenu > li > ul > li > a {
                    display: block;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    white-space: normal;
                    color: #fff;
                    background-color: transparent;
                    font-size: 15px;
                }



        .megamenu > li ul > li > a:hover,
        .megamenu > li ul > li > a:focus {
            text-decoration: dotted underline;
            color: #fff;
            background-color: transparent;
        }

        .megamenu.disabled > a,
        .megamenu.disabled > a:hover,
        .megamenu.disabled > a:focus {
            color: #999999;
        }

            .megamenu.disabled > a:hover,
            .megamenu.disabled > a:focus {
                text-decoration: none;
                background-color: transparent;
                background-image: none;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                cursor: not-allowed;
            }

        .megamenu.dropdown-header {
            color: #428bca;
            font-size: 18px;
        }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Mega Menu */
    .navbar-default {
        color: #fff;
        background-color: #0006ff;
        border-color: #aca1a2;
    }

        .navbar-default .navbar-nav > li > a {
            color: #fff;
        }

        .navbar-default .navbar-nav > .dropdown > a .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
        }

        .navbar-default .navbar-brand {
            color: #fff;
        }

    .menu-large {
        position: static !important;
    }

    .megamenu {
        padding: 20px 0px;
        color: #fff;
        background-color: rgb(0, 6, 255);
        margin-left: 20em;
    }

        .megamenu > li > ul {
            padding: 0;
            margin: 0;
        }

            .megamenu > li > ul > .MenuCha {
                color: #ff0000;
                font-weight: bold;
                font-size: 1em;
                text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            }

            .megamenu > li > ul > li {
                list-style: none;
            }

                .megamenu > li > ul > li > a {
                    display: block;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    white-space: normal;
                    color: #fff;
                    background-color: transparent;
                    font-size: 15px;
                }



        .megamenu > li ul > li > a:hover,
        .megamenu > li ul > li > a:focus {
            text-decoration: dotted underline;
            color: #fff;
            background-color: transparent;
        }

        .megamenu.disabled > a,
        .megamenu.disabled > a:hover,
        .megamenu.disabled > a:focus {
            color: #999999;
        }

            .megamenu.disabled > a:hover,
            .megamenu.disabled > a:focus {
                text-decoration: none;
                background-color: transparent;
                background-image: none;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                cursor: not-allowed;
            }

        .megamenu.dropdown-header {
            color: #428bca;
            font-size: 18px;
        }
}




/*
 * Dropdown on hover 
 */

/*@media (min-width:480px) {

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}*/
